@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Light.ttf")
}
@font-face {
  font-family: "poppins-m";
  src: url("./fonts/Poppins-Medium.ttf")
}

:root {
  --background: #f8f0fc;
  --foreground: #171717;
}
html{
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #f8f0fc;
    --foreground: #ededed;
    --primary: #bf42f5;
    --light-purple:#f8f0fc;
  }
}


[data-theme="dark"] body{
  background-color: #000;
  color: #fff;
}

[data-theme="light"] body{
  background-color: #6b00a0 !important ;

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
